.topo{
    display: flex;
    height: 14vh;
    width: 100%;
}
.menu{
    position: fixed;
    height: 14vh;
    width: 100%;
    background-color: rgb(25, 26, 26);
    border-bottom: 3pt red solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LogoDev{
      height: 90px;
      width: 300px;
}
@media(max-width:1000px){
      .LogoDev{
          height: 50px;
          width: 160px;
      }
      .menu{
          height: 12vh;
      }
}