.container{
    width: 100%;
    height: 85vh;
    margin-top: 14vh;
    background-color: rgb(60, 60, 63);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.trio{
    text-align: center;
    height: 13%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 25px;  
    margin-top: -70px;
}
.base{
    width: 75%;
    height: 20vh;
    font-size: 22px;
    text-align: center;
    color: aliceblue;
    display: flex;
    align-items: center;
    margin-top: 20px;

}
.linguagens{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

li{
    font-size: 22px;
    color: aliceblue;
}
@media(max-width:1000px) {
    .trio,
    .base,
    li {
        font-size: 13px;
        width: 85%;
     
    }
    .trio{

        margin-top: 0px;
        text-align: center;
    }
    .container{
        margin-top: 11vh;
        height:390px;
    }
    .base{
        height: 150px;
    }
}
