.ContainerCalcMedia{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    height: 90vh;

}

.ContainerCentroCalcMedia{
    display: flex;
    align-items: center;
    height: 75vh;
    width: 30vw;
    border-radius: 5px;
    background-color: aqua;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

}