
.tituloHome{
    width: 80%;
    text-align: center;
    margin-top: 50px;
    color: white;

}
.txtHome{
    font-size: 25px;
    color: white;
}
.divHome{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}
.linkHome{
    color: goldenrod;
}
@media(max-width:1000px){
    .tituloHome{
        font-size: 20px;
    }
    .txtHome{
        font-size: 20px;
        text-align: center;
    }
    .ul{
       width: 100%;
    }
    .linkHome{
        font-size: 17px;
    }
}