.containerCentralCorreios{
    color: white;
    display: flex;
    background-color: rgb(53, 119, 218);
    height: 90%;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;

    color: rgb(0, 0, 0);
}


.inputCorreios{
    width: 48%;
    height: 40px;
    display: flex;
    font-size: 18px;
    flex-direction: column;
    margin: 10px;
}

.inputCep{
    height: 30px;
    margin-top: -7px;
}
.inputCorreiosButton {
    color: white;
    width: 48%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;

}

@media(max-width: 1000px)
{
    .containerCorreios{
        margin-top: -2vh;
       width: 100%;
       height: 90vh;
    }
    .containerCentralCorreios{
        width: 90%;
        height: 90%;
    }
.containerCentralCorreios h1 {
    font-size: 29px;
}
    .inputCorreios{
        width: 70%;
        font-size: 15px;
    }
    .inputCep{
        width: 95%;
    }
}